.preview-post-card {
  width: 330px;
  padding: 10px;
  margin: 5px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img {
  width: 100px;
  display: block;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border-radius: 50%;

}

.button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100px;
  /* color: white; */
  display: block;
  margin: 0 auto;
  padding: 5px 7px;
  /* background-color: rgb(17, 125, 219); */
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid black;
}
