.card-conatiner{
    /* border:0.5px solid grey; */
    display: block;
    margin:0 auto !important;
    border-radius: 10px;
    
}

.home{
    border-radius: 5px; 
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid grey;
    background-color: black;
    /* padding: 10px; */
}
