.container{
  display: flex;
  justify-content:space-evenly;
  /* background-color: darkgrey; */
  padding: 0;
  margin: 0;
}

.bg-color{
  /* background-color: black; */
  padding: 20px;
 
}

.content{
  color:rgb(235, 203, 203);
  font-size: 30px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.img{
  width: 800px;
  background-position: center;
  
}